body {
    background-color: rgb(20,20,20);
    text-align: center;
    font-family: 'Piazzolla', serif;
    color: white;
    font-size: 20px;
}

label {
    font-family: 'Piazzolla', serif;
    font-weight: bolder;
    font-size: 25px;
}

img {
    width:  150px;
    height: 150px;
    object-fit: cover;
}

h2 {
    font-weight: 400;
}

#stats {
    font-weight: bolder;
}

#L1 {
    float:left;
    padding-bottom: 2%;
}

#R1 {
    margin-left:50%;
    padding-bottom: 2%;

}

#L2 {
    float:left;
}

#R2 {
    margin-left: 50%;
}