body {
    background-color: rgb(20,20,20);
    text-align: center;
    font-family: 'Piazzolla', serif;
    color: white;
    font-size: 20px;
}

h4 {
    font-size: 16px;
    margin: 0;
}

label {
    font-family: 'Piazzolla', serif;
    font-weight: bolder;
    font-size: 25px;
}

.picpok {
    width:  150px;
    height: 150px;
    object-fit: cover;
}

.pictype {
    width: 89px;
    height: 39px;
}

.button {
    font-size: 30px;
}

h1 {
    margin:0;
    margin-bottom: 10px;
}

h2 {
    font-weight: 400;
    margin: 0;
    padding-bottom: 17px;
    height: 20px;
}

h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#R2 {
    height: 30px;
}

#L2 {
    height: 30px;
}